[2011-07-05 15:38] zerowidth opened #1 "/join #foo,#bar not recognized"
ZNC issues this command to join multiple channels when reconnecting. camper_van doesn't understand, so it barfs.

[2011-07-06 21:19] zerowidth opened #2 ""nickname," not translated"
Along with nickname:, translate $nickname&lt;punctuation&gt;.

[2011-08-30 22:26] #1 closed, assigned to zerowidth

[2011-08-30 22:26] #2 closed, assigned to zerowidth

[2011-12-27 06:09] brandur opened #4 "Undefined method `email_address` for `User`"
Once every 3-4 days I'll get a crash (stack trace below). It seems to occur passively (i.e. not something triggered directly by an action on my part). Let me know whether you need any help tracking it down further or with the fix!

[code]

[2012-01-22 17:43] #4 closed, assigned to nobody

[2012-02-24 16:01] devn opened #6 "First time I speak camper_van crashes"
I can reliably reproduce camper_van crashing by connecting to campfire, joining the channel, and saying something. I then restart camper_van and connect again and it works, but I get 2 messages at once.

[code]

[2012-03-14 16:06] rays opened #7 "`parse': undefined method `size' for nil:NilClass (NoMethodError)"
I get the following error when attempting to connect, after this error the app stops running

/Library/Ruby/Gems/1.8/gems/camper_van-0.0.2/lib/camper_van/command_parser.rb:32:in `parse': undefined method`size' for nil:NilClass (NoMethodError)
    from /Library/Ruby/Gems/1.8/gems/camper_van-0.0.2/lib/camper_van/ircd.rb:66:in `receive_line'
    from /Library/Ruby/Gems/1.8/gems/camper_van-0.0.2/lib/c

[2012-03-14 16:23] rays commented on #7
Wrong version of Ruby...

[2012-03-14 16:23] #7 closed, assigned to nobody

[2012-04-04 20:59] zerowidth commented on #7
Ah, that was easy. Sorry I didn't get back to you earlier. What version of ruby were you using, and what are you using now?

[2012-04-04 21:02] zerowidth commented on #6
I've updated the gem dependencies to the latest version of firering, can you try with the git version?

[2012-04-15 23:56] cotto opened #8 "crash when joining a room"
I ran into this while trying to connect to campfire through camper_van via dircproxy.  Everything seems to work until I join a room.

[code]

[2012-04-16 02:32] zerowidth commented on #8
Curious! I wonder if there's a mismatch between how camper_van is mapping the room name with irc vs. how it's named in campfire itself. What's the room called? "Ecto-1" with a hyphen?

[2012-04-16 03:45] cotto commented on #8
That seems very likely.  The room appears on Campfire as "ECTO-1".  I can successfully join another room without any dashes in the name.

[2012-04-25 11:47] tru commented on #7
I am interested to know that as well, I have exactly the same problem. It seems to choke on the PASS line, which is the first that is sent from irssi:

[code]

[2012-04-25 12:35] tru opened #11 "Crash in channel.rb:260"
[code]

[2012-04-26 01:15] zerowidth commented on #11
Please update your firering gem to the latest version and try again -- looks like I overlooked the dependency update last release, so you weren't forced to upgrade with the latest camper_van version.

[2012-04-26 01:15] #11 closed, assigned to nobody

[2012-04-26 01:24] #6 closed, assigned to nobody

[2012-04-26 01:46] zerowidth commented on #8
I couldn't reproduce this. I created a campfire room called ECTO-1, and was able to join it just fine. I did notice your backtrace includes an older version of firering, though, perhaps that has an influence. Try updating and see if it works then.

[2012-04-26 01:46] #8 closed, assigned to nobody

[2012-04-26 07:30] tru commented on #11
I updated it (gem install firering; git cloned; gem build *gemspec; gem install *gem) and I get something similar still:

[code]

[2012-04-27 11:53] tru commented on #11
Fixed when I updated to ruby1.9

[2012-04-27 14:10] ku1ik opened #12 "Dies when using non-ascii chars in message"
When I tried to send a message:

[code]

it dies with error:

[code]

[2012-04-30 13:46] zerowidth commented on #12
I can't reproduce this on ruby 1.9.3p125 with the latest firering gem. Do you have any suggestions?

[2012-04-30 17:24] ku1ik commented on #12
I tried it now on 1.9.2 and it worked. But I think I know what may be the case. When I was sending this messages I was sending it to nick micha_wr_bel. So the full messages looked like:

[code]

Thing is the real name of this guy is Michał Wróbel. It contains non-ascii chars and maybe when doing nickname translation from irc nick to real name it couldn't handle encoding difference. Might that be t

[2012-05-31 16:02] rlpowell opened #13 "crash bug"
No idea what happened here, but:

2012-05-31 15:42:20 13200  INFO CamperVan : performing request to https://engineyard.campfirenow.com.campfirenow.com/users/789439.json
2012-05-31 15:42:21 13200  WARN CamperVan : WARNING: Tried to set starred= "false" on a Firering::Message instance but it didn't respond. Probably the API got updated, please report this! (https://github.com/EmmanuelOga/firering/is

[2012-06-05 14:11] chrissearle opened #14 "File upload links incorrect"
When a user uploads a file they get a link something like:

[code]

In the IRC channel this arrives as

[code]

so - the second ID part of the URL has a different value and therefore the link doesn't work.

Am guessing the first ID is the room number - but what the second is (or where the third comes from in the IRC ACTION call) I have no clue.

[2012-06-05 18:55] rlpowell opened #15 "Duplicates"
So a bunch of us are using this at my work, and some of us (especially the people using irssi) pretty regularily get duplicated messages, where each campfire message will get sent to us 2 or more times (I've seen as much as five).

-Robin

[2012-06-13 01:56] zerowidth commented on #15
Do you have the most recent versions of all the gems involved? I saw this occasionally when using this a year or so ago, but wasn't able to reliably reproduce it.

[2012-06-13 02:04] zerowidth commented on #13
This is fixed in the 0.0.4 release.

[2012-06-13 02:04] #13 closed, assigned to nobody

[2012-06-15 13:54] zerowidth commented on #14
I'm able to reproduce this, but don't have a good solution yet.

[2012-07-30 02:46] alindeman opened #16 "Received messages from Campfire that start with `:` are cut off"
[code]

I expected a smiley `:)`

I think it has something to do with this line: https://github.com/aniero/camper_van/blob/081b1e66f5d3f14fb3332ae79b0b6b0da12e50b5/lib/camper_van/server_reply.rb#L85. I think removing the conditional would fix it--and I don't think it's problematic to add `:` as a prefix to the last argument in an IRC command, even if there is no space--but I'm not totally sure.

T

[2012-07-30 02:48] alindeman commented on #15
I observed this after `/part`ing a channel (room) and rejoining it later.

[2012-08-07 19:12] mdz commented on #15
I see this regularly as well. I'm using camper_van via an IRC proxy (bip), which is always connected to it, but I regularly disconnect and reconnect from IRC clients.

I'm using current camper_van from git and current versions of all gems

[2012-08-07 19:20] technomancy commented on #15
I can confirm that this is caused by `/part` not being honored.

[2012-08-08 00:13] mdz commented on #15
I think the issue is actually due to JOIN being honored for channels which we're already in. I made a naive attempt at a fix and it seems to have worked.

[2012-08-08 00:22] alindeman commented on #15
Are you going to make a pull request with it?

##

Andy Lindeman
Sent from a mobile device. Please excuse the brevity and top reply.

On Tuesday, August 7, 2012 at 20:13, Matt Zimmerman wrote:

[2012-08-08 13:59] zerowidth commented on #15
Thanks for digging into this, guys! @mdz if you have a patch, even if it's hacky, I'd take a look at it.

[2012-08-08 15:44] mdz commented on #15
It's linked above:
https://github.com/aniero/camper_van/issues/15#commits-ref-48594da

On Wed, Aug 08, 2012 at 06:59:18AM -0700, Nathan Witmer wrote:

##
- mdz

[2012-08-09 11:55] zerowidth commented on #15
@mdz thanks for the patch, I didn't see it earlier. I think I've solved it at a lower level, preventing the basic message stream from being started twice. I left the channel join alone so irc clients can get an updated user list and topic still on a second join.

Let me know if my patch fixes it -- it's in the bugfix/multiple_joins branch.

[2012-08-09 13:58] alindeman commented on #16
Any thoughts @aniero? I'd be happy to help fix if you think I'm on the right track.

[2012-08-10 01:16] zerowidth commented on #16
It's the right area, but I think some of the replies need the : on the last argument, but not _all_. I'm looking at splitting these up into separate methods for each case.

[2012-08-10 21:37] mdz commented on #15
I backed out my fix, and applied yours, and now I have duplicates again.
Unfortunately it looks like it doesn't fix the problem (at least for me).

On Thu, Aug 09, 2012 at 04:55:35AM -0700, Nathan Witmer wrote:

##
- mdz

[2012-08-21 17:23] alindeman commented on #15
Did not fix duplicates for me either.

[2012-08-28 02:29] zerowidth commented on #15
There's still a bug in my code, but I'm also having a hell of a time with EventMachine. Doesn't seem the streaming requests to the campfire API are being closed on request, and I'm still trying to figure out why. Once I figure that out, I'll be able to fix this properly!

[2012-08-28 15:15] alindeman commented on #15
Thanks @aniero!

[2012-08-30 01:18] #15 closed, assigned to nobody

[2012-08-30 01:18] #16 closed, assigned to nobody

[2012-08-30 01:20] zerowidth commented on #15
Alright, I'm punting on it. Don't know what's broken with EM / em-http-request, but they're older versions of the libraries anyway. I've pushed a new version of camper_van that has a modified version of @mdz's fix, plus what I tried before. It's not ideal, since it relies on correct behavior from irc clients when it sends messages for channels you're no longer supposed to be in, but it should work

[2012-09-24 12:17] ghost opened #17 "Can't install on OS X"
[code]

[2012-09-24 12:28] ghost commented on #17
Installed XCode CLI tools and get this error now:

[code]

[2012-09-24 12:45] ghost commented on #17
I installed full XCode and get this error:

[code]

[2012-10-10 19:59] mikeknoop commented on #14
I've reproduced this too. Can you elaborate what the crux of the problem is in case someone wanted to take a stab at fixing it?

[2012-10-25 10:37] artkrz opened #18 "Please change paste behavior"
Hello,

Grate job. Super simple and works but can you implement past links instead of text ? Or a shortend paste + links, on long paste the chat gets flooded.

Thanks

[2012-10-27 22:06] #14 closed, assigned to nobody

[2012-10-27 22:06] zerowidth commented on #14
Alright, after some digging, it looks like the campfire streaming API doesn't return the url for an upload in the json for an UploadMessage. Had to make a separate API call to get the full url for the uploaded file.

This bugfix is on master, please try it out and let me know and I can cut a new release. Thanks!

[2012-10-27 22:09] zerowidth commented on #18
The Paste message handling splits any incoming text on "\n" and sends the first three lines to IRC. If there are more, it should include a link to the rest. Is three lines too much? It seemed like a good balance for short-ish messages but not hiding information behind a click.

[2012-10-27 22:11] zerowidth commented on #17
Just as the error says... camper_van is only set up to run under ruby 1.9.2 or greater. Since you're using sudo, I assume you're trying to use OS X's system ruby. I'd suggest trying either [rvm](https://rvm.io) or [rbenv](https://github.com/sstephenson/rbenv) to install different versions of ruby.

[2012-10-27 22:11] #17 closed, assigned to nobody

[2012-10-28 08:28] chrissearle commented on #14
Semi-weird :)

Got someone to upload a jpeg.

The old gem - as before gave me

https://subdomain.campfirenow.com/room/ID1/uploads/ID2/filename.jpg

The campfire web view gives

https://subdomain.campfirenow.com/room/ID1/uploads/ID3/filename.jpg

The new gem gave me

https://subdomain.campfirenow.com/room/ID1/uploads/ID3/filename.jp

So the last letter was truncated - but the **download still worke

[2012-10-28 15:41] zerowidth commented on #14
Hah, weird! I checked the logs for my development work on testing this, and it had the full filenames.. so who knows! But cool, I'll cut a new release. Thanks for testing it!

[2012-10-29 07:57] artkrz commented on #18
I think on a very long paste it'll split it up and put multiple paste urls to different parts of paste, but that might be campfire behavior.

[2012-10-29 08:03] artkrz opened #19 "Some messages are recognized as commands which are not recognized."
Basically we have a Pager user sending messages to our room but they are not recognized:

│00:21:01  campfire =!= | irc: command "Cloud" not found:
│00:21:01  campfire =!= | Cloud server 25 - https://foo.com/servers/5 - Unreachable Mon Oct 29 00:17:55 UTC 2012
│00:21:01  campfire =!= | irc: command "http://foo..com/pages/24312" not found:
│00:21:01  campfire =!= | http://foo.com/pages/24312

Here'

[2012-10-31 08:01] artkrz commented on #18
Actually it doesn't work as expected, please check screenshot. I've pasted a long source into textual.

![Screenshot](https://www.evernote.com/shard/s23/sh/7aed30dd-725f-4d79-a311-61ba00570ce6/42b4604a1e776398bed8781de03bb9e4/res/ae48137d-5a67-4557-bcba-3cec3d3de9e2/skitch.png)

[2012-10-31 13:06] zerowidth commented on #18
Ohh, I understand now. You're pasting code into your irc client, not displaying pastes.

The problem is, irc (and probably uour irc client as well) has no way of knowing that what you're about to paste into your client is many lines long. It's just a lot of sinle lines of text. Do you have any suggestions? A custom IRC command to indicate a section to get rolled up as a paste?

[2012-11-03 16:34] zerowidth commented on #19
I don't have access to the html from campfire. Could you send the camper_van logs as well as the relevant portion of the campfire transcript?

[2012-11-05 07:39] artkrz commented on #19
Here you go:

[code]

[2012-11-05 07:47] artkrz commented on #19
Could not find camper_van logs but my IRC client says something like this:

2012-11-02 06:32:53     =!= irc: command "https://....com/pages/24436" not found:
2012-11-02 06:32:53     =!= https://....com/pages/24436
2012-11-02 06:32:53     =!= irc: command "Multi-type" not found:
2012-11-02 06:32:53     =!= Multi-type server server 1 - 10.1.1.1 - https://....com/servers/1 - responding to ping, but n

[2012-11-05 10:59] kylescottmcgill opened #20 "Binding Failure?"
Hi Aniero,

Do you happen to know anything about the below issue?

[code]

Thanks in advance!

Kyle

[2012-11-05 11:02] kylescottmcgill commented on #20
Also here are the current Gems installed etc

[code]

[2012-11-05 11:27] kylescottmcgill commented on #20
Similar issue specified ~> https://github.com/defunkt/resque/issues/600 , Issue relating to Ruby Build on Mac OS X

[2012-11-05 11:27] #20 closed, assigned to nobody

[2012-11-18 19:25] zerowidth commented on #19
Unfortunately, that isn't enough detail for me to know what's going on. I'd have to see the actual IRC commands that camper_van is sending to your irc client in order for me to know what or how certain content is being misinterpreted. If you see this again, could you show me the camper van logs and corresponding client errors?

[2012-11-18 20:37] artkrz commented on #19
Will do.

[2012-12-04 14:14] justinpitts commented on #8
I am reproducing this behavior right now, with a room named nexus, and the latest version of firering and camper_van.

2012-12-04 14:03:31  9011  INFO CamperVan : closed connection from 127.0.0.1
/home/jpitts/.rvm/gems/ruby-1.9.3-p327/gems/camper_van-0.0.6/lib/camper_van/channel.rb:59:in `+': can't convert nil into String (TypeError)
        from /home/jpitts/.rvm/gems/ruby-1.9.3-p327/gems/camper_

[2013-01-08 02:03] wallace opened #22 "Tweets crash camper_van"
Any time a tweet arrives, camper_van crashes with an error message similar to the following.  This occurs with the latest tag of firering (1.2.2) and master.

2013-01-07 20:23:17 15060  WARN CamperVan : WARNING: Could not set attribute 'tweet' to value '{:author_avatar_url=>"http://a0.twimg.com/profile_images/1261953917/headshot_normal.png", :author_username=>"tenderlove", :id=>288351675289317377,

[2013-02-02 03:55] zerowidth commented on #22
Hmm, it looks as if the campfire API has changed. Instead of putting the tweet information in the body of the message, it's now attempting to assign a "tweet" attribute.

[2013-02-02 04:21] wallace commented on #22
I guess if we can ping the firering owner (@EmmanuelOga) to create a new release we'll be in good shape based on https://github.com/EmmanuelOga/firering/commit/17a611cf6f3c41450c45b7a23c38570f9440b5de and then we won't need my PR in #23 ?

[2013-02-12 14:04] alistar79 opened #25 "Proxy Support"
Is there any HTTP proxy support included or planned?

[2013-02-12 14:15] zerowidth commented on #25
No, but I'm all ears. I'm using the firering campfire client, which uses em-http-request for http calls to campfire, and _that_ supports proxies. So you'd have to get a patch in to firering first.

[2013-02-12 14:15] #25 closed, assigned to nobody

[2013-02-17 21:25] zerowidth commented on #19
Closing pending further detail.

[2013-02-17 21:25] #12 closed, assigned to nobody

[2013-02-17 21:26] zerowidth commented on #12
Closing pending further detail. If you can give me instructions to reproduce this bug, I'll take a look.

[2013-02-17 21:27] zerowidth commented on #18
Closing pending additional feedback.

[2013-02-17 21:27] #18 closed, assigned to nobody

[2013-02-17 21:32] #22 closed, assigned to nobody

[2013-02-17 21:35] zerowidth commented on #22
I didn't realize the firering error wasn't fatal, it was the mishandling of non-YAML message body. Merged the PR and cut a new release, thanks!

[2013-02-20 11:32] yorickpeterse commented on #19
I've been experiencing similar issues. The problem seems random, usually occurring on normal text. For example, I've had co-workers paste in a quote and then camper_van went bananas thinking part of that text were IRC commands.

Sadly my log files don't contain any information on the specific errors, even though the logging level is set to log error messages. My IRC client (Weechat) however shows

[2013-02-20 11:40] yorickpeterse opened #26 "Paste URLs have duplicate hosts"
Whenever somebody pastes something into Campfire the URL for said paste contains the Campfire host twice.

For example, if Campfire is running at `cookies.campfirenow.com` then the resulting URL will be something along the lines of `cookies.campfirenow.com.campfirenow.com/room/X/paste/Y`.

This issue occurs on `camper_van` 0.0.6. Although I updated to 0.0.7 I haven't had people paste anything in y

[2013-02-20 13:46] zerowidth commented on #19
Can you see if you can reproduce this with --log-level=debug? I need to see what camper_van is sending to your irc client.

[2013-02-20 13:49] zerowidth commented on #26
No one's mentioned this yet.

I'm building that paste url entirely by hand: https://github.com/aniero/camper_van/blob/master/lib/camper_van/channel.rb#L311-L321

Could you show me what camper_van is receiving when it gets a pasted message? Perhaps the campfire API has changed something. (`--log-level=debug` please)

[2013-02-20 16:28] yorickpeterse commented on #26
This is logged whenever somebody pastes something in Campfire:

[code]

I trimmed/redacted non relevant and private information.

[2013-02-20 16:52] yorickpeterse commented on #19
Just tried a bit of text that caused this particular issue last time using the Campfire web client. Sadly I can't reproduce it that way which leads me to believe it might be an issue caused by using other clients. In my case my co-workers all use "Flint" which is an OS X client for Campfire.

[2013-02-23 15:16] zerowidth commented on #26
That subdomain is coming from the irc PASS command you send when first connecting. Are you using the whole domain there, i.e. `REDACTED.campfirenow.com`, rather than just `REDACTED` ? It's possible that campfire is allowing that to work if it's grabbing the first piece of the subdomain you connect with, e.g. `domain.split('.').first`

[2013-02-24 00:37] yorickpeterse commented on #26
I'm currently using the full domain name instead of only using the sub domain. I'll give it a try to see how things work when only using the subdomain.

[2013-02-25 16:42] yorickpeterse commented on #19
Just had this issue re-appear after the following message was sent:

[code]

Note that the newline between the two messages is not something I added, it was written to the log file in this way. Perhaps it's possible that camper_van barfs whenever a newline is used in a certain place _or_ when `\r\n` is used.

[2013-02-27 15:27] yorickpeterse commented on #26
After having tested this for a bit I can confirm that this can be resolved by _only_ using the sub domain in your IRC client's PASS command. In other words, use "foo" instead of "foo.campfirenow.com".

[2013-02-27 21:57] zerowidth commented on #26
Thanks for checking. I'll update the documentation, but I can also detect that subdomain (`split(".").first`) in the code.

[2013-02-28 01:05] zerowidth commented on #19
Bingo. I bet that's it. I'll take a look at the line splitting code.

[2013-02-28 02:36] #26 closed, assigned to nobody

[2013-02-28 02:39] #19 closed, assigned to nobody

[2013-02-28 12:03] yorickpeterse commented on #26
:+1:

[2013-02-28 12:04] yorickpeterse commented on #19
Nice work! I'll give this a try to see if it solves the issue.

[2013-03-27 22:40] pdbogen opened #29 "Outdated dependency eventmachine doesn't build on modern systems"
This is a known issue in eventmachine that's fixed in versions newer than the four (4!) year old version camper_van is targeting.

This was all run on a newly spun up EC2 instance of Ubuntu Server 12.10:

[code]

[2013-04-18 02:00] nicksergeant commented on #29
I'm having the same problem. Any way around this?

[2013-04-18 18:40] pdbogen commented on #29
This is in part an upstream problem (camper_van depends on firering). I forked both firering and camper_van and updated the dependency versions. You can grab them like so:

[code]

If you're still having problems, note that I'm using rvm and ruby 1.9.3. If you're note, try doing so:
    \curl -L https://get.rvm.io | bash --ruby=1.9.3
    rvm use 1.9.3
and then following the above steps.

Or, hopef

[2013-04-18 18:44] nicksergeant commented on #29
Thanks for the update. I can wait for the PR, no big deal.

[2013-05-05 16:38] yorickpeterse opened #30 "Ability to daemonize camper_van"
Currently camper_van always runs in the foreground and doesn't create any PID files. This in turn makes it a bit more tricky to run and monitor it (e.g. using Monit) unless you create a wrapper script. It would be nice if camper_van could daemonize itself (e.g. by specifying the `-d/--daemon` flag) and create a PID file (specified using another option)`.

[2013-05-06 16:24] zerowidth commented on #30
That seems reasonable to me. I'm not really actively maintaining this though, aside from bugfixes &c... if you have suggestions for a library to use for supporting daemonization, I'm all ears.

[2013-05-06 16:26] zerowidth commented on #29
Thanks for looking into this, guys. I'm not sure what a good solution would be except doing what @pdbogen has already done by forking/updating firering.

[2013-05-06 16:34] yorickpeterse commented on #30
Seeing how the change would be fairly trivial (no need for a daemon library) I'll see if I can take a closer look at it tonight.

[2013-05-06 16:35] zerowidth commented on #30
Well, there's the whole fork/fork/detach stuff to be a good citizen when running as a daemon, but go for it! Thanks!

[2013-05-07 01:46] linduxed opened #32 "RuntimeError when starting camper_van"
When I try to run `camper_van` with no arguments I get this:

[code]

Could it be a setup issue of some kind?

[2013-05-07 01:48] zerowidth commented on #32
Might be an eventmachine error. I'd also suggest updating to the latest ruby 1.9.3 version.

I've had several reports of EM-related issues with the old versions used by camper_van in #29, perhaps that might help also.

[2013-05-07 02:03] linduxed commented on #32
After noticing that [flamethrower](https://github.com/blakesmith/flamethrower) did the same thing, I noticed that I had bitlbee running, which also uses port 6667. Passing the `-p` flag with a different port made it work, so I assume that this is the root of the issue. Silly error on my end.

[2013-05-07 02:05] zerowidth commented on #32
Ok cool :) Sucks that the error message isn't more obvious!

[2013-05-07 02:05] #32 closed, assigned to nobody

[2013-05-07 04:23] nicksergeant commented on #29
@zerowidth yeah, I ended up following @pdbogen's instructions on installing w/ his forked firering and using the specific rvm (I was using system Ruby previously). Thanks for that, by the way, @pdbogen!

[2013-05-09 11:32] yorickpeterse opened #33 "camper_van goes berserk when trying to reconnect"
At times it appears that camper_van is no longer able to connect to the Campfire servers (not exactly sure why/when this happens) which will result in camper_van constantly trying to reconnect. This introduces two problems:
- When logging output to a file (even when the log level is set to "info") this will very quickly result in a very large log file. In my case I ended up with a 1,2GB (largest s

[2013-05-09 12:53] blalor commented on #33
I've seen some weirdness around this, too.  I have a theory: when CV has to reconnect, it eventually ends up with _multiple_ simultaneous connections.  This causes messages to get posted to IRC with as many duplicates as there are connections.

Yeow, just confirmed that.  camper_van's pid is 14646; `netstat -anp | grep 14646` shows 565 (!) established connections:

[code]

[code]

[2013-05-09 19:51] zerowidth commented on #33
Ouch. This doesn't really surprise me, but it sure sucks. The reconnect code is kinda hidden/implicit in the firering library, but it's not clear if it cleans up after itself or not. Seems the evidence points toward not.

Do you have any suggestions? At some point this is going to start sucking enough that I rewrite the thing in celluloid...

[2013-05-09 20:12] blalor commented on #33
I'm afraid I don't have any suggestions I can make; I'm not a Rubyist and don't have any experience with firering…

[2013-05-10 10:54] yorickpeterse commented on #33
If it's hidden in Firering then you're really left with two options: fix Firering or get rid of it. Since Firering already uses a heavily outdated EventMachine version I don't think the latter would be such a bad idea, it would be time consuming though.

[2013-05-10 11:00] blalor commented on #33
Would another alternative be to just disable reconnects?  It'd be easier for me to deal with restarting the process ( while :; do camper_van ; done) than to have cope with 500+ simultaneous connections. ;-)

[2013-05-12 02:49] jpmoss opened #34 "Crash when joining a locked room"
Attempted to join a locked room, unfortunately camper_van crashes. Doesn't happen with rooms that aren't locked.

[code]

[code]

[2013-05-12 15:04] #34 closed, assigned to nobody

[2013-05-13 00:20] rwilcox commented on #33
I saw this reconnect error when using Adium's built in IRC client, but when I connected with Textual everything seems to be working fine.

Maybe this information is helpful, maybe not.

[2013-05-18 18:46] mercenaryza opened #36 "mIRC issues"
mIRC and possibly other clients do not like the : character in the server password, and server connections cannot be made.

Could you possibly change this character or make it configurable? maybe ; or !

[2013-05-26 21:02] zerowidth commented on #30
closed in #31

[2013-05-26 21:02] #30 closed, assigned to nobody

[2013-05-27 02:15] #29 closed, assigned to nobody

[2013-05-27 02:15] #36 closed, assigned to nobody

[2013-05-31 19:18] danrabinowitz opened #39 "znc-push is not working with camper_van for me"
I have camper_van running on my server, and znc connects to it. I'm trying to get znc-push to notify my when there's activity in certain Campfire rooms.

Currently I'm seeing this message in the camper_van output:
INFO CamperVan : ignoring irc command {:ison=>["*push"]}: no handler

I haven't looked into this much yet.

[2013-06-02 01:45] zerowidth commented on #39
This is in ircd.rb. Do you have any information as to what znc-push does and how it's configured? Is it via IRC commands? And what is the expected input/output?

[2013-06-13 00:23] rlpowell opened #40 "Suddenly crashing on parts"
This has suddenly started happening to me a lot:

 /usr/local/rvm/gems/ruby-1.9.3-p392/gems/camper_van-0.0.11/lib/camper_van/channel.rb:90:in `part': undefined method`close_connection' for #EventMachine::HttpClient:0x00000004657fa8 (NoMethodError)
        from /usr/local/rvm/gems/ruby-1.9.3-p392/gems/camper_van-0.0.11/lib/camper_van/ircd.rb:285:in `block (2 levels) in <class:IRCD>'
        from /u

[2013-06-14 18:51] danrabinowitz commented on #39
I finally got to work on this more yesterday, and it turns out it was user error. I got znc-push working fine. There are still those INFO messages about ignoring the irc command, but it doesn't seem to cause any issues.

Thanks.  Hope you're well.

[2013-06-14 18:51] #39 closed, assigned to nobody

[2013-07-08 23:41] mmichie commented on #40
I'm seeing this issue as well

[2013-07-18 12:02] jimeh commented on #18
My suggestion would be for camper_van to treat messages coming within a ms or so of each other from an IRC client (not from Campfire) as a single paste. Cause realistically you'll never be able to type as fast as the IRC client can send each line as a message of a pasted piece of text.

[2013-07-24 17:08] pbrisbin commented on #40
Relevant lines [here](https://github.com/zerowidth/camper_van/blob/master/lib/camper_van/channel.rb#L89-91).

[2013-07-24 17:18] pastorius commented on #40
I'm seeing this too on 0.0.12.

@zerowidth any ideas on where to start digging in on this? The EM docs clearly include `EventMachine::HttpClient#close_connection`.

I'm happy to take a look at it, but could use a little guidance.

[2013-07-30 23:14] lovek323 commented on #40
I'm experiencing the same issue. Any assistance would be appreciated.

[2013-07-31 07:15] rlpowell commented on #40
FWIW, I simply commented out the line in question, and everything works fine.

[2013-08-06 23:03] lovek323 commented on #40
@rlpowell -- that has solved the problem, but I can't work out why the method doesn't exist. The `HttpClient` class does inherit from the `Connection` class which responds to the `close_connection` message.

[2013-08-08 22:03] dividedmind opened #43 "Document SSL support"
Please mention the SSL support in the readme :)

[2013-08-10 10:09] jimeh commented on #40
I've got the same issue, seems to happen whenever a user disconnects. For now I'll just stick to 0.0.10, as this issue occurs with 0.0.11 and 0.0.12.

[code]

[2013-08-25 00:42] zerowidth commented on #40
Fixed in #44. Thanks @tleish!

[2013-08-25 00:42] #40 closed, assigned to nobody

[2013-08-25 00:43] zerowidth commented on #43
I've not listed any of the command-line options in the README, but I did make a minor tweak to draw more attention to `camper_van --help` to gently nudge people toward discovering the various options.

[2013-08-25 00:43] #43 closed, assigned to nobody

[2013-08-25 03:14] bf4 opened #45 "License missing from gemspec"
RubyGems.org doesn't report a license for your gem.  This is because it is not specified in the [gemspec](http://docs.rubygems.org/read/chapter/20#license) of your last release.

via e.g.

[code]

Including a license in your gemspec is an easy way for rubygems.org and other tools to check how your gem is licensed.  As you can imagine, scanning your repository for a LICENSE file or parsing the READ

[2013-09-02 17:30] dividedmind opened #46 "Users still present on campfire after quitting"
Hi! CamperVan is great, but since I began using it people started to complain they can't ever tell if I'm online or not. When I quit IRC, a ghost of me stays on campfire and doesn't seem to go away ever.

[2013-09-23 03:28] dividedmind commented on #46
The possible cause is at https://github.com/zerowidth/camper_van/blob/master/lib/camper_van/channel.rb#L90 - HttpClient#close doesn't really close the connection (cf. https://github.com/igrigorik/em-http-request/issues/244 ). I'm not sure what the right solution is.

[2013-10-12 00:04] janpio commented on #46
Hm, I just tested this and could definitely reproduce it.

But then I tested with a browser and there I also stayed in the channel as a ghost. Only when I clicked the leave button in the Campfire interface was I instantly removed from the room.

Tomorrow morning I'll know how long it took to 'time out' for the ghost.

[2013-10-12 11:04] janpio commented on #46
Here is the information how long it takes for the normal web version to 'timeout':

Try 1: [12:10:59] --> [12:30:10]
Try 2: [12:33:37] --> [12:50:12]

It's between 15 and 20 minutes. That's much longer than I expected.

Now let's try what happens when I close the connection in my IRC client, and what happens when I just kill camper_van. Will be reporting back...

[2013-10-12 12:44] janpio opened #47 "camper_van requests info of joining user after I disconnected"
Hey,

so I've been playing around with camper_van - great tool to make Campfire chats less painful. But there seem to be some inaccuracies or even problems.

After I disconnected my IRC client (Quassel) from camper_van it still requested information on a user that joined later. Here's the log output of camper_van:

[code]

As I was still in the channel as a guest with a second PC, I know that a us

[2013-10-12 14:46] janpio commented on #47
So I looked around in the code (I'm no ruby dev, so please excusemy naivety) and only found `unbind` in server.rb on line 138 that outputs the INFO log "closed connection from 127.0.0.1". I couldn't find the code where `unbind` is actually called or triggered :/

Am I right to assume that no other cleanup like leaving channels on Campfire is done when the connection to the IRC server is closed?

[2013-10-12 14:50] janpio commented on #46
I tested with my local installation and saw that the user never really left. Sometimes it would time out, sometimes not. I couldn't find the reason for that.

Your link to channel.rb then showed me that the implementation is counting on a timeout that maybe doesn't work all the time. I commented out line 93 and tried again, this time an explicit PART/leave for the channel removed me from the chann

[2013-10-26 20:34] #45 closed, assigned to nobody

[2013-10-26 20:35] #46 closed, assigned to nobody

[2013-10-26 20:35] zerowidth commented on #47
This is a side effect of camper_van not leaving a campfire room when you PART a channel. Should be fixed now.

[2013-10-26 20:35] #47 closed, assigned to nobody

[2013-10-26 20:36] zerowidth commented on #46
Alright, I made the part explicit instead of relying on a timeout. Should prevent any problems with ghost uers &c.

[2013-10-26 21:33] bf4 commented on #45
Awesome, thanks! :rainbow:

[2013-11-03 04:45] coredump commented on #18
I think @jimeh idea is the only feasible one.

[2013-12-11 21:48] greggroth commented on #20
Can you expand on why you closed this?  Did you find a solution?  I'm having the same issue now.

[2013-12-11 22:33] kylescottmcgill commented on #20
Hi @greggroth yes i was having an issue with compiling yajl-ruby on mac, clang wasn't doing something right at the time. See here: https://github.com/resque/resque/issues/600

My recommendation is to find a suitable build that does infact compile properly, then this should work. I havn't tried since i had the above issue. However if you get stuck I can give it another go to find out what versions

[2013-12-11 22:35] greggroth commented on #20
It does appear to be fixed in yajl-ruby 1.1.0, so I've submitted a PR to firering (https://github.com/EmmanuelOga/firering/pull/20) to update it's dependency to use 1.1.0 rather than 0.7.6.  Once/If that is merged, I'll open a PR for camper_van to use the updated version of firing.

[2013-12-11 22:47] zerowidth commented on #20
:thumbsup: thanks

[2014-01-16 13:27] nomicode commented on #20
Woo hoo, looks like your PR was merged. I'm experiencing the same bug.

Is there a workaround for the time being?

[2014-01-16 16:09] zerowidth commented on #20
Still need a released version of the firering gem...

[2014-02-20 01:10] vincentwoo opened #48 "Yajl problems on OSX 10.9"
[code]

I'm using ruby 2.0.0

[2014-02-20 14:11] wstucco commented on #48
Same issue here.
My solution is pretty hardcore and I won't suggest anyone to use it.
I simply linked `/Library/Ruby/Gems/2.0.0/gems/yajl-ruby-0.7.9` to `yajl-ruby-1.2.0`
It works that way.

[2014-02-21 13:41] zerowidth commented on #48
Do I just need to bump the yajl dependency to fix this?

[2014-02-21 13:58] vincentwoo commented on #48
I suspect as much, yes.

[2014-02-21 14:00] wstucco commented on #48
it should be enough.

[2014-02-21 18:55] jjasghar commented on #48
:+1: the symlink worked for me. yajl-ruby-0.7.9 to yajl-ruby-1.1.0, total hack. :'( ruby-2.0.0-p195

[2014-02-21 19:02] jjasghar opened #49 "[Enhancement] Multiple campfire connections"
I have a personal campfire account and a work one. It seems pretty logical to be able to use multiple ports for multiple connections. 6667 6668 6669 etc.

Thoughts?

[2014-02-21 20:07] elia commented on #48
@wstucco you a bad person

[2014-02-22 11:30] wstucco commented on #48
@elia I know, I'm sorry

[2014-02-22 17:03] zerowidth commented on #49
Simply open a second connection to camper_van with a different subdomain/API key pair and it should work fine.

[2014-02-22 17:03] #49 closed, assigned to nobody

[2014-02-22 18:15] jjasghar commented on #49
Worked :) I'd add this to the docs as an FYI. I can if you'd like.

[2014-02-22 18:46] jjasghar commented on #49
I wrote this up: https://github.com/zerowidth/camper_van/pull/50

[2014-02-23 21:26] zerowidth commented on #48
yajl is a dependency of firering. firering's dependencies have been updated but there isn't a new gem released yet. I've seconded a request for a new release in https://github.com/EmmanuelOga/firering/issues/21

[2014-03-27 17:06] vinodkone opened #51 "Can't install camper_van on OSX 10.8.5"
➜  ✗ rvm use 2.0.0
Using /opt/twitter/rvm/gems/ruby-2.0.0-p353
➜  ✗ gem install camper_van
Building native extensions.  This could take a while...
ERROR:  Error installing camper_van:
    ERROR: Failed to build gem native extension.

[code]

creating Makefile

make "DESTDIR=" clean

make "DESTDIR="
compiling yajl.c
yajl.c:33:10: fatal error: 'api/yajl_parse.h' file not found
# include "api/yajl_pa

[2014-03-30 02:29] zerowidth commented on #51
Looks like a similar issue as in #48. Still waiting on an upstream update of fire_ring.

[2014-03-30 02:29] #51 closed, assigned to nobody

[2014-04-07 22:59] jimeh opened #52 "Could not set attribute 'auto_invite_to_new_rooms' to value 'true'"
Jump a bump/poke that camper_van will potentially need an update once the following issue on firering is fixed: https://github.com/EmmanuelOga/firering/issues/22

[2014-05-17 17:25] dideler opened #56 "Getting started"
![](http://i1.kym-cdn.com/photos/images/newsfeed/000/234/786/bf7.gif)

Maybe someone can help me out and the README or wiki can be improved.

The public room I want to join is https://assemblyhq.campfirenow.com/room/578218.
My IRC client is weechat.

Using `/connect localhost 6667` didn't work.
So I added a new server as `/server add localhost localhost/6667`.

Then I opened my `~/.weechat/irc.con

[2014-05-19 14:14] Fusselwurm commented on #56
you can see your API key on https://assemblyhq.campfirenow.com/member/edit

[2014-05-19 16:14] dideler commented on #56
@Fusselwurm that link brings me to a login, but I don't have an account and I don't see a sign up option anywhere. I can join the assemblyhq room via this link https://assemblyhq.campfirenow.com/1283b, which doesn't require me to create an account (just need a nick to join).

[2014-05-19 16:59] Fusselwurm commented on #56
@dideler cant help you, then. :disappointed:

[2014-05-19 17:44] zerowidth commented on #56
@dideler camper_van only works with authenticated connections... if you can figure out a way to talk to the campfire API without an API key, it could probably work with anonymous users like that link above.

[2014-05-20 13:53] dideler commented on #56
Thanks for the help @zerowidth and @Fusselwurm. I'm going to close this issue since I'd rather use something else than spend any more time on this.

[2014-05-20 13:53] #56 closed, assigned to nobody

[2014-08-09 20:56] zerowidth commented on #52
Sounds like this is fixed?

[2014-08-10 06:31] lunks commented on #48
A new firering version has been released, closing this issue.

[2014-08-10 06:31] #48 closed, assigned to nobody

[2014-08-10 06:38] lunks commented on #33
I'll close this as stale, let me know if there is anything to be done. IMHO this should be reported on firering and fix it there.

[2014-08-10 06:38] #33 closed, assigned to nobody

[2014-08-27 19:40] rlpowell opened #59 "names in channels are broken"
As of recently (last couple of weeks maybe?), when I join a room via irssi, everything looks great to me but I do _not_ show up as being in that room in the campfire web interface, which confuses everyone else.

If I manually join the room in the web interface, I see this:

27-12:36 -!- robin_powell [robin_powell@campfire] has joined #qa
27-12:36 [Users #qa]
27-12:36 -!- Irssi: #qa: Total of 0 nic

[2015-02-11 03:27] trombonehero opened #60 "`ignoring irc command {:cap=>["LS"]}`"
Good evening,

Thanks for Camper_Van. I'm attempting to hook it up to my ZNC bouncer, but when I do, I see the following log messages:

[code]

I guess this means that Camper_Van doesn't support the IRC Client Capabilities Extension, but might it be able to keep the connection open anyway or otherwise respond with a empty capability list? I'd really like to be able to use Camper_Van in my daily wo

[2015-02-18 17:57] mathie commented on #60
@trombonehero Have you managed to get camper_van working with ZNC yet?

[2015-02-18 18:01] lunks commented on #60
I've used camper_van with ZNC for a while. I remember having some warnings
like those in camper_van logs, but everything worked. You might wanna look
at the ZNC side of things if camper_van by itself is working.

On Wed, Feb 18, 2015 at 3:57 PM, Graeme Mathieson notifications@github.com
wrote:

[2015-02-18 18:08] mathie commented on #60
Ah, never mind, user error! I’d managed to insert a space between the “:” and my API key in the password...

[2015-02-19 16:08] lunks commented on #60
No problem. :)

[2015-02-19 16:08] #60 closed, assigned to nobody